{
   "endOfLine": "crlf",
   "singleQuote": true,
   "semi": false,
   "printWidth": 100,
   "tabWidth": 3,
   "trailingComma": "all",
   "singleAttributePerLine": true,
   "plugins": ["prettier-plugin-tailwindcss"]
}